@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --themecolor: #13c213b4;
}

* {
  margin: 0;
  padding: 0;
  font-family:'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  font-size: 50px;
}

footer {
  font-size: 30px;
}

.theme {
  padding: 10px;
  text-align: center;
  background-color: var(--themecolor);
  color: rgb(255, 255, 255);
}
